*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Calibri,sans-serif;
}

body{
    background:#f2f2f2;
    padding:20px;
}

.container{
    max-width:1200px;
    margin:auto;
}

.header{
    background:#fff;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
}

.header h1{
    font-size:20px;
    margin-bottom:10px;
}

#status{
    font-size:12px;
}

.kpi-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

.card{
    background:#fff;
    padding:15px;
    border-radius:10px;
    text-align:center;
}

.card span{
    display:block;
    font-size:11px;
    color:#666;
}

.card h3{
    margin-top:8px;
    font-size:18px;
}

@media(max-width:768px){

    .kpi-grid{
        grid-template-columns:repeat(2,1fr);
    }

}
.table-section{
    margin-top:20px;
    background:#fff;
    padding:15px;
    border-radius:10px;
}

.table-section h2{
    font-size:14px;
    margin-bottom:10px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#e8e8e8;
    font-size:11px;
    padding:8px;
    border:1px solid #ddd;
}

td{
    font-size:10px;
    padding:8px;
    border:1px solid #ddd;
    text-align:center;
}